body {
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

#gameArea {
    position: absolute;
    width: 70vw; /* 70% of the viewport width */
    height: 70vh; /* 70% of the viewport height */
    background-color: black;
    top: 15vh; /* Position it vertically centered */
    left: 15vw; /* Position it horizontally centered */
    border: 2px solid white; /* Optional: Add a border to visualize the game area */
    box-sizing: border-box; /* Include border and padding in the element's total width and height */
}

.player {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: blue;
    opacity: 1;
    z-index: 10;
    box-sizing: border-box;
}

.enemy {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.power-up {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: yellow;
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.pixel {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: blue;
    transition: transform 0.5s, opacity 0.5s;
    box-sizing: border-box;
}

.trail {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    z-index: 5;
    box-sizing: border-box;
}

#scoreBoard {
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 24px;
    color: white;
    box-sizing: border-box;
}

#highScoreBoard {
    position: absolute;
    top: 25px;
    left: 5px;
    font-size: 24px;
    color: white;
    box-sizing: border-box;
}

#pauseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
}

#buttonImage {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

#startingScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 20;
    box-sizing: border-box;
}

#startingText {
    font-size: 24px;
    color: white;
}

#logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}
